<%= form_for @research_element do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :number_involved %><br />
    <%= f.text_field :number_involved %>
  </p>
  <p>
    <%= f.label :group_name %><br />
    <%= f.text_field :group_name %>
  </p>
  <p>
    <%= f.label :grp_no_per_class %><br />
    <%= f.text_field :grp_no_per_class %>
  </p>
  <p>
    <%= f.label :classification %><br />
    <%= f.text_field :classification %>
  </p>
  <p><%= f.submit %></p>
<% end %>
