<div id="co-r-fname-left">First Name</div>
<div id="co-r-fname-right"><%= f.text_field :fname %></div> 
<div id="co-r-midinit-left">Middle Init</div>
<div id="co-r-midinit-right"><%= f.text_field :midinit %></div> 
<div id="co-r-lname-left">Last Name</div>
<div id="co-r-lname-right"><%= f.text_field :lname %></div> 
<div id="co-r-address-left">Address</div>
<div id="co-r-address-right"><%= f.text_field :address %></div> 
<div id="co-r-city-left">City</div>
<div id="co-r-city-right"><%= f.text_field :city %></div> 
<div id="co-r-state-left">State</div>
<div id="co-r-state-right"><%= f.text_field :state %></div>
<div id="co-r-zipcode-left">Zip Code</div>
<div id="co-r-zipcode-right"><%= f.text_field :zipcode %></div>
<div id="co-r-hphone-left">Phone Number</div>
<div id="co-r-hphone-right"><%= f.text_field :hphone %></div>
<div id="co-r-cphone-left">Mobile Number</div>
<div id="co-r-cphone-right"><%= f.text_field :mphone %></div>    
<div id="co-r-email_addr-left">Email Address</div>
<div id="co-r-email_addr-right"><%= f.text_field :email_addr %></div>